
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script>
        window.onload=function(){
            var addbtn=document.getElementById("btnNew");
            addbtn.addEventListener("click", function () {
               window.location.href='/new/';
            })
        }
    </script>
</head>
<body>
     <section>
         <header id="div_head_title_big">
             <h1>检索订单信息</h1>
         </header>
         <form action="/search" method="post" id="form1">
             <ul>
                 <li>
                     <ul>
                         <li id="title_1"><label for="tbxCode">订单编号</label></li>
                         <li id="content_1"><input type="text" id="tbxCode" name="code" maxlength="8"/></li>
                     </ul>
                     <ul>
                         <li id="title_2"><label for="tbxDate">订单编号</label></li>
                         <li id="content_2"><input type="date" id="tbxDate" name="date" maxlength="10"/></li>
                     </ul>
                     <ul>
                         <li id="title_3"><label for="tbxGoodsCode">订单编号</label></li>
                         <li id="content_3"><input type="date" id="tbxGoodsCode" name="GoodsCode" maxlength="12"/></li>
                     </ul>
                 </li>
             </ul>
             <div id="buttonDiv">
                 <input type="submit" name="btnSearch" id="btnSearch" value="检索" onclick="btnSearch_Click();"/>
                 <input type="button" name="btnNew" id="btnNew" value="新增"/>
                 <span id="errMsg"></span>
             </div>
         </form>
     </section>
     <section>
         <header id="div_head_title_big">
            <h1>检索结果</h1>
         </header>
     <div id="infoTable">
         <table id="datatable">
             <tr>
                 <th>订单编号</th>
                 <th>订单日期</th>
                 <th>商品编号</th>
                 <th>商标</th>
                 <th>数量</th>
                 <th>单价</th>
                 <th>金额</th>
                 <th>负责人</th>
                 <th>负责人Email</th>
                 <th>编辑</th>
             </tr>
             <%rows.forEach(function(row){%>
             <tr>
                 <td><%=row.code%></td>
                 <td><%=row.date.toJSON().slice(0,10)%></td>
                 <td><%=row.goodsCode%></td>
                 <td><%=row.brandName%></td>
                 <td><%=row.num%></td>
                 <td><%=row.price%></td>
                 <td><%=parseInt(row.num)*parseFloat(row.price)%></td>
                 <td><%=row.presonName%></td>
                 <td><%=row.email%></td>
                 <td><input type="button" value="编辑" onclick="btnEdit_click<%= row.code %>"/></td>
             </tr>
             <%});%>
         </table>
     </div>
     </section>
</body>
</html>